:root {
  --main-bg: #f0ebdf;
  --outer-bg: #a4a486;
  --text-dark: #2e3421;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--outer-bg);
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
}
